body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 0 20px;
}

h1, h3 {
    text-align: center;
}

.budget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.budget div {
    flex: 1;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 8px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc solid;
}

.list li:nth-child(even) {
    background: #e4e4e4;
}
